/*****************************************************
 * VARIABLES
 ****************************************************/
:root {
    --color-white: rgb(226, 226, 226);
    --color-green: #86c232;
    --color-gray: #222629;
    --color-bg: var(--color-gray);
}

/*****************************************************
 * GENERAL
 ****************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 2px;
    line-height: 1.6;
    background-color: var(--color-bg);
    color: var(--color-green);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h2 {
    font-size: 24px;
}

/*****************************************************
 * WELCOME PAGE
 ****************************************************/
 .welcome-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .intro-box {
     background-color: var(--color-white);
     color: var(--color-gray);
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 80%;
     padding: 40px 20px;
 }

 .title {
     font-size: 50px;
     letter-spacing: 3px;
 }

 .instructions {
    text-align: center;
    padding: 15px;
 }

 .form-box {
     width: 100%;
     margin-bottom: 20px;
 }

 
 .player-input {
     border: 2px solid var(--color-gray);
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-wrap: wrap;
     padding: 10px 25px;
 }

 .player-input input {
     font-size: inherit;
     font-family: inherit;
     color: var(--color-gray);
     padding: 5px 10px;
     border-radius: 5px;

 }

 .player-imgs {
     padding: 20px;
 }

 .player-imgs img {
     width: 20px;
 }

 .player-imgs img:hover {
     cursor: pointer;
     background-color: var(--color-gray);
 }

 .player-imgs .active {
    background-color: var(--color-gray);
    transform: scale(1.25);
 }

 #startBtn {
    background-color: var(--color-gray);
    color: var(--color-white);
}

#startBtn:hover {
    background-color: var(--color-green);
    color: var(--color-gray);
}

/*****************************************************
 * GAME PAGE
 ****************************************************/
 .game-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .game-box {
     display: flex;
     flex-direction: column;
     width: 80%;
 }

/*****************************************************
 * BOARD
 ****************************************************/
 .board {
     display: grid;
     grid-template-columns: repeat(3, 80px);
     grid-template-rows: repeat(3, 80px);
     margin-bottom: 25px;
     order: 2;
 }

.square {
    border: 1px solid var(--color-green);
    display: inline-block;
    position: relative;
}

.marker {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*****************************************************
 * GAME-INFO
 ****************************************************/
.game-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    order: 1;
    margin-bottom: 20px;
}

/***************** whos-turn *******************/
.whos-turn {
    text-align: center;
}

.player-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

#current-player {
    font-size: 18px;
    margin-bottom: 15px;
}

#current-img {
    width: 60px;
}

/***************** scores *******************/
.scores {
    text-align: center;
    /* padding: 20px */
}

/***************** control-buttons *******************/
.control-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    padding: 7px 25px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-green);
    color: var(--color-gray);
    font-size: 18px;
    display: inline-block;
}

button:hover {
    cursor: pointer;
    background-color: var(--color-white);
}

#undoBtn {
    margin-bottom: 10px;
}

 /*****************************************************
 * MSG-BOX
 ****************************************************/
.msg-box {
    text-align: center;
    font-size: 30px;
}

 /*****************************************************
 * MEDIA QUERIES
 ****************************************************/
 @media (min-width: 750px) {

    .title {
        font-size: 72px;
    }

    h2 {
        font-size: 32px;
    }

    .player-imgs img {
        width: 40px;
    }

    .main {
        flex-direction: row;
        padding-top: 25px;
    }

    .board {
        order: 1;
        grid-template-columns: repeat(3, 120px);
        grid-template-rows: repeat(3, 120px);
    }

    .game-info {
        order: 2;
    }

    .control-buttons {
        flex-direction: row;
    }

    #undoBtn {
        margin-bottom: 0;
        margin-right: 20px;
    }

    .msg-box {
        font-size: 40px;
    }
}

@media (min-width: 850px) {
    .game-box {
        width: 680px
    }

    .intro-box {
        width: 680px;
    }
}

@media (max-width: 500px) {
    .intro-box {
        width: 100%;
    }
}

 /*****************************************************
 * HIDDEN
 ****************************************************/
.hidden {
    display: none;
}