/*****************************************************
 * VARIABLES
 ****************************************************/
:root {
    --color-white: rgb(226, 226, 226);
    --color-green: #86c232;
    --color-gray: #222629;
    --color-bg: var(--color-gray);
}

/*****************************************************
 * GENERAL
 ****************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 2px;
    line-height: 1.6;
    background-color: var(--color-bg);
    color: var(--color-green);
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.main {
    flex-direction: column;
    max-width: 650px;
}


.secondary {
    flex-direction: column;
}

h2 {
    font-size: 24px;
}

/*****************************************************
 * BOARD
 ****************************************************/
 .board {
     display: grid;
     grid-template-columns: repeat(3, 80px);
     grid-template-rows: repeat(3, 80px);
     margin-bottom: 25px;
     order: 2;
 }

.square {
    border: 1px solid var(--color-green);
    display: inline-block;
    position: relative;
}

.marker {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*****************************************************
 * GAME-INFO
 ****************************************************/
.game-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    order: 1;
    margin-bottom: 20px;
}

/***************** whos-turn *******************/
.whos-turn {
    text-align: center;
}


#player-name {
    font-size: 18px;;
}

.player-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

#player-name {
    margin-bottom: 15px;
}

#player-img {
    width: 60px;
}

/***************** scores *******************/
.scores {
    text-align: center;
    /* padding: 20px */
}

/***************** control-buttons *******************/
.control-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    padding: 7px 25px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-green);
    color: var(--color-gray);
    font-size: 18px;
    display: inline-block;
}

button:hover {
    cursor: pointer;
    background-color: var(--color-white);
}

#undoBtn {
    margin-bottom: 10px;
}

 /*****************************************************
 * MSG-BOX
 ****************************************************/
.msg-box {
    text-align: center;
    font-size: 30px;
}

 /*****************************************************
 * MEDIA QUERIES
 ****************************************************/
 @media (min-width: 750px) {

    h2 {
        font-size: 32px;
    }
    
    .main {
        flex-direction: row;
        padding-top: 60px;
    }

    .board {
        order: 1;
        grid-template-columns: repeat(3, 120px);
        grid-template-rows: repeat(3, 120px);
    }

    .game-info {
        order: 2;
    }

    .control-buttons {
        flex-direction: row;
    }

    #undoBtn {
        margin-bottom: 0;
        margin-right: 20px;
    }

    .msg-box {
        font-size: 40px;
    }
}